body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 100%;
  
}
.body-border{
  margin: 3%;
  /* border: 2px solid black; */
}

text {
    font-size: 12px;
    fill: rgb(10, 4, 4);
}

body {
    /* margin: 100px; */
    text-align: center;
}
.bubbles {
  stroke-width: 2px;
  stroke: white;
  justify-content: center;
}

.bubbles:hover {
  stroke: black;
}

.myCircle:hover {
  stroke: black;
}
/* .input-group{
  margin-left: 5%;
  width: 30%;
}
.form-control{
  width: 90%;
} */
.input-change{
  display: flex;
  /* flex: 0 0 auto;
  width: 100%; */
  padding: 1%;
}
div.justified {
  margin: 50px;
  flex: 0 0 auto;
  width: 50%;
  /* justify-content: right; */
}
#result {
  flex: 0 0 auto;
    width: 100%;
    display: block;
    height: 600px;
    margin-left: 85%;
    justify-content: right;
    
}
.final-choose{
  flex: 0 0 auto;
  width: 50%;
  flex-direction: row;
}
#ino{
  width: 50%;
  margin-left: 25%;
}

.side-bars{
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
  margin-left: -80%;
  margin-top: 20% ;

}
#filterSubmit:hover{
  /* color: rgb(82, 209, 255);
  border: 4px solid rgb(135, 197, 255); */
  /* opacity: 0.1%; */
  background-color: lightblue;
}
#filterValue{
 margin-left: -25%;
 width: 110%;
 /* height: 40px;
 border-radius: 5px;
 border-color: rgb(202, 202, 202); */
}
#filterValue:hover{
border-color: rgb(135, 197, 255);
}
.label-side{
  flex: 0 0 auto;
  width: 50%;
  margin-left: -40%;
  /* flex-direction: column; */
  font-size: larger
}
.label-side2{
flex: 0 0 auto;
width: 50%;
margin-top: -4%;

}
.submit-change{
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
  margin-left: -80%;
  margin-top: 20% ;
}
#text-change{
  flex: 0 0 auto;
  width: 50%;
  margin-left: -15%;
  margin-top: -16%;
  /* flex-direction: column; */
  font-size: larger
  

}

.button-change{
  flex: 0 0 auto;
  width: 50%;
  margin-top: -5.5%;
  margin-left: 15%;
  
  /* margin-left: -50%; */
}

.side-bars-label{
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
  margin-left: -80%;
  margin-top: 4% ;
  /* flex-direction: column; */
}
.choose-label{
  flex: 0 0 auto;
  width: 30%;
  margin-left: -30%;
  /* flex-direction: column; */
  font-size: larger
}
.label-select{
  flex: 0 0 auto;
  width: 40%;
  margin-top: -7%;
  margin-left: 10%;
}
#label-select{
margin-top: -5%;
  /* width: 230%; */
  /* font-size: large; */
}
.side-bars-label1{
  display: flex;
  padding: 1%;
  /* flex-direction: column; */
}
.choose-label1{
  flex: 0 0 auto;
  width: 60%;
  margin-left: 6%;
  font-size: larger;
  }
form {
  flex: 0 0 auto;

    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    margin-left: -15%;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .text-change{
    flex: 0 0 auto;
    width: 110%;
    margin-left: -25%;
    margin-top: 5%;
    /* flex-direction: column; */
    font-size: larger
  }
  .num{
    flex: 0 0 auto;
    width: 50%;
    margin-left: 87% ;
    margin-top: -13%;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /* margin: 0px; */
    /* margin-top: -20%; */
    width: 45px;
    height: 50px;
  }
  
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  #button-graph{
    flex: 0 0 auto;
    width: 50%;
    margin-left: -95%;
  }
  .bar{
    /* box-sizing: border-box; */
    border: 2px solid black
  }